<div class="basket-container">
  {{#each orderItems as |orderItem| }}
  <div class="order-item">  
    <img src="/product-images/{{orderItem.product.imgurl}}" alt="{{orderItem.product.product_name}}">
    <div>
      <p>Product Name: {{orderItem.product.product_name}}</p>
      <p>Unit Price: £{{orderItem.product.price}}</p>
      <p>Quantity: {{orderItem.quantity}}</p>
      <p>Confirmed: {{orderItem.confirmed}}</p>
    </div>
  </div>
  {{/each}}

  <p class="total-value">Total value: £{{totalValue}}</p>

  <div class="form-group">
    <label for="addressText">Address for delivery: </label>
    <input type="text" id="addressText"/>
  </div>

  <button id="enterDetailsBtn" onClick="checkoutFunc({{user_id}})">Checkout</button>
</div>

<script> 

  async function checkoutFunc(id) {

    const address = document.querySelector('#addressText').value;

    try {

      await fetch(`/api/users/${id}`, {
        method: 'PUT',
        body: JSON.stringify({
          address: address,
        }),
        headers: { 'Content-Type': 'application/json' },
      });

      const response_order = await fetch(`/api/orderItems/users/${id}`, {
        method: 'GET',
        headers: { 'Content-Type': 'application/json' }
      });

      const orderItem = await response_order.json();

      const response = await fetch('/create-checkout-session', {
        method: 'POST',
        body: JSON.stringify(orderItem),
        headers: { 'Content-Type': 'application/json' },
      })

      const { url } = await response.json();
      window.location = url;
    } catch (error) {
      console.error(error)
    }
    
  }
</script>

