<!-- categoryList.handlebars -->
<div class="categoryList">
  <h1>{{ categoryName }}</h1>

  <div class="productGrid">
    {{#each products as | product |}}
      <div class="productItem">
        <div class="productImage">
          <img src="/product-images/{{imgurl}}" alt="{{product_name}}">
        </div>
        <div class="productDetails">
          <a href="/product/{{ id }}" class="productName">{{ product_name }}</a>
          <p class="productPrice">£{{price}}</p>
        </div>
      </div>
    {{/each}}
  </div>
</div>
