<!-- Loop over each object in the products array -->
{{#each products as |product| }}
<div class="product-box">
  <h2>
    <a href="/product/{{product.id}}">{{product.product_name}}</a>
  </h2>
  <div class="homepage-image">
    <img src="/product-images/{{product.imgurl}}" alt="{{product.product_name}}">
  </div>
  <p>Price: £{{product.price}}</p>
</div>
{{/each}}


