{{#each products as |product| }}
<div class="product-box">
  <div class="title-container" style="min-height: 50px;">
    <h2>
      <a href="/product/{{product.id}}">{{product.product_name}}</a>
    </h2>
  </div>
  <div class="homepage-image" style="min-height: 350px;">
    <img src="/product-images/{{product.imgurl}}" alt="{{product.product_name}}">
  </div>  
  <p>Price: £{{product.price}}</p>
  <button class="buy-now-button" id="buyNow{{product.id}}" onClick="buyOne({{product.id}}, {{product.price}})">Buy Now</button>
</div>
{{/each}}

<footer class="card-footer" id="footer{{user_id}}">
  <p>Accepted Payment Methods:</p>
  <ul class="payment-methods">
    <li><img src="/payment-images/visa.png" alt="Visa"></li>
    <li><img src="/payment-images/mastercard.png" alt="Mastercard"></li>
    <li><img src="/payment-images/amex.png" alt="American Express"></li>
    <li><img src="/payment-images/discover.png" alt="Discover"></li>
    <li><img src="/payment-images/PayPal.png" alt="PayPal"></li>
    <li><img src="/payment-images/google-pay.png" alt="Google Pay"></li>
    <li><img src="/payment-images/apple-pay.png" alt="Apple Pay"></li>
  </ul>
</footer>

<script>
  async function buyOne(id, unitPrice) {

    const userId = parseInt(document.querySelector('.card-footer').id.slice(6));

    await fetch(`/api/orderItems`, {
      method: 'POST',
      body: JSON.stringify({
        quantity: 1,
        confirmed: false,
        product_id: id,
        user_id: userId,
      }),
      headers: { 'Content-Type': 'application/json' },
    });

    const response = await fetch(`/api/users/${userId}`, {
      method: 'GET',
      headers: { 'Content-Type': 'application/json' },
    });

    const userData = await response.json();

    var totalValue = parseFloat(userData.totalValue);

    totalValue += unitPrice;

    await fetch(`/api/users/${userId}`, {
      method: 'PUT',
      body: JSON.stringify({
        totalValue: totalValue,
      }),
      headers: { 'Content-Type': 'application/json' },
    });

    return;
  }
</script>